<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <!--
    <meta name="keywords" content="xxxxx" />
    <meta name="description" content="xxxxx" />
    -->

    <title></title>

    <!--
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="text/javascript" src="./jquery-1.2.6.min.js"></script>

    <style type="text/css">
    </style>

    <script type="text/javascript">
    </script>
    -->
</head>
<body>

</body>
</html>
